 * {
     margin: 0px;
     font-family: sans-serif;
 }

 /* Nav style */
 .primary-color {
     color: #fd6e0a;
 }

 .btn-primary {
     background-color: #fd6e0a;
     color: #f5f5f5;
     border-radius: 5px;
     border: 0px;
     font-size: 20px;
     height: 64px;
     padding: 18px 36px;



 }

 .btn-pr {
     border: #fd6e0a solid 1px;
     background: #FFF8F3;
     height: 64px;
     padding: 18px 36px;

     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 20px;

     text-align: center;

     color: #FD6E0A;
     margin-left: 47px;
     border-radius: 5px;
 }

 nav {
     display: flex;
     justify-content: space-between;
     padding: 51px 216px;
 }

 .nav-titel {
     font-weight: 800;
     font-size: 45px;
     color: #181818;
 }

 nav ul {
     display: flex;
     align-items: center;

 }

 nav li {
     margin-left: 51px;
     list-style: none;
     font-weight: 400;
     font-size: 20px;
     line-height: 27px;

     /* Dark 02 */

     color: #474747;
 }

 header {
     background: #FFF8F3;
     background-image: url(/images/header_bg.png), url(/images/developer.png);
     background-repeat: no-repeat;
     background-position: bottom right, bottom left;
     padding-right: 23px;


 }

 .banner {
     margin: 0px 216px;
     margin-right: 58px;
     display: flex;
     align-items: center;

 }

 .banner-titel {
     font-weight: 600;
     font-size: 45px;
     color: #474747;
     margin-bottom: 5px;

 }

 .banner-sub-titel {
     font-weight: 700;
     font-size: 85px;
     color: #181818;
 }

 .banner-description {
     font-weight: 400;
     font-size: 18px;
     color: #757575;
     margin-top: 20px;
     margin-bottom: 30px;
     ;
 }

 /* main section */
 main {
     max-width: 1140px;
     margin: 0 auto;
 }

 /* about me section */

 .About-me {
     margin-top: 130px;
     background: #FFF8F3;
     border-radius: 10px;
     padding: 131px 157px;
 }


 .section-titel {
     font-weight: 700;
     font-size: 35px;
     color: #181818;
     text-align: center;

 }

 .about-sub-titel {
     color: #757575;
     font-weight: 400;
     font-size: 18px;



     text-align: center;



     color: #757575;
     margin-top: 30px;

 }

 .about-info-container {
     display: flex;
     margin-top: 30px;
     justify-content: space-around;

 }

 .info-titel {

     font-size: 20px;
     line-height: 30px;


     text-align: center;



     color: #757575;

 }

 .info-description {


     font-weight: 700;
     font-size: 20px;



     text-align: center;



     color: #474747;
 }

 /* section  */
 .what-i-do {
     margin-top: 130px;
 }

 .do-sub-titel {
     margin-bottom: 50px;
     text-align: center;
 }

 .skill-container {
     display: flex;
     gap: 24px;



 }

 .skill {
     padding: 30px;
     background: #FFFFFF;
     box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
     border-radius: 5px;

 }

 .skill-titel {
     font-weight: 700;
     font-size: 20px;
     color: #181818;
     margin-top: 30px;
     text-align: left;

 }

 .skill-description {

     margin-top: 30px;
     font-weight: 400;
     font-size: 16px;
     color: #757575;
     text-align: left;

 }

 /* style A summary of My Resume */
 .resume {}

 .resume-titel {
     margin-top: 30px;


     font-weight: 700;
     font-size: 35px;

     /* identical to box height */

     text-align: center;

     /* Dark 01 */

     color: #181818;
 }

 .resume-content {
     display: flex;
     gap: 24px;

 }

 .resume-item .titel {
     color: #474747;
     font-weight: 700;
     font-size: 25px;
     margin-top: 22px;
     margin-bottom: 10px;

 }

 .resume-item .sub-titel {
     font-weight: 600;
     font-size: 20px;


     /* Dark 03 */

     color: #757575;
 }

 .resume-item .description {
     font-weight: 400;
     font-size: 16px;

     /* or 175% */


     /* Dark 03 */

     color: #757575;
     margin-top: 20px;
 }

 .resume-button {
     text-align: center;
     margin-top: 50px;
 }

 /* Contact section */
.contact{
    
}
 .contact-section {
     display: flex;
     gap: 100px;
     background: #FFF8F3;
     padding: 130px 200px;
}

 .contact-section .section-titel {
     text-align: left;
 }
 .section-titel{
    
 }
 .contact-section input[type="email"],input[type="text"] ,textarea{
    padding: 18px 30px;
    margin-bottom: 24px;
    border: 0px;
    width: 100%;

 }
 .contact-description{
    margin-top: 20px ;
    margin-bottom: 30px;

 }
 .contact-section a{
    text-decoration: none;
    margin-right: 24px;
 }